/* styles.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; /* Center-align the title and button */
}

.page-title {
    font-size: 24px;
    margin: 0;
}

#signin-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

/* Main Content Styles */
.main-content {
    display: flex;
    flex-direction: column; /* Stack content vertically on small screens */
    align-items: left;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-image {
    max-width: 100%; /* Make the image responsive */
    height: auto;
    margin: 20px 0;
}

.upload-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
}

/* Custom Button Styles */
.custom-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #45a049;
}
