<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <h1 class="page-title">Resume Builder</h1>
        <!-- <button class = "signIn-button">Sign In</button> -->
    </div>
    <div class="main-content">
        <div class = "col" id = "leftCol">
            <div class="resume-content">
                <h2>Upload PDF</h2>
                {% if pdf_image %}
                    <img src="data:image/jpeg;base64,{{ image_to_base64(pdf_image) }}" class="main-image"/>
                {% else %}
                    <img src="{{ url_for('static', filename='resumeSS.png') }}" alt="Main Image" class="main-image" >
                {% endif %}
                <form action="/" method="POST" enctype="multipart/form-data">
                    <label for="pdf_file" class="signIn-button">
                        Choose File
                        <input type="file" name="pdf_file" id="pdf_file" style="display: none;">
                      </label>
                    <input type="submit" value="Upload PDF" class="custom-button">
                </form>
            </div>
            
        </div>
        <div class = "col" id = "rightCol">
            <div class = "buttons">
                <div class = "info">
                    <a href="#" class="custom-button">Contact</a>
                    <div class = "contactGroup">
                        <div class = "infoGroup">
                            <label for="Name" class="custom-label" style="vertical-align: middle;">Name:</label>
                            <input class="infoText" id = "Name" style="vertical-align: middle;" value = "{{ name_text }}" ></input>
                        </div>
                        
                        <div class = "infoGroup">
                            <label for="Number" class="custom-label" style="vertical-align: middle;">Number:</label>
                            <input class="infoText" id = "Number" style="vertical-align: middle;" value = "{{ number_text }}"></input>
                        </div>
                        
                        <div class = "infoGroup">
                            <label for="Email" class="custom-label" style="vertical-align: middle;">Email:</label>
                            <input class="infoText" id = "Email" style="vertical-align: middle;" value = "{{ email_text }}"></input>
                        </div>
                        
                        <div class = "infoGroup">
                            {% for website in websites %}
                            <div class="infoGroup">
                                <label for="Website{{ loop.index }}" class="custom-label" id = "webisteInfo{{loop.index}}" style="vertical-align: middle;">Website {{ loop.index }}:</label>
                                <input class="infoText_websiteInput" id="Website{{ loop.index }}" data-index="{{ loop.index }}" style="vertical-align: middle;" value="{{ website }}"></input>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                    
                </div>
                <div class = "info">
                    <a href="#" class="custom-button">Education</a>
                    <div class = "contactGroup">
                        {% for education in educations %}
                        <div class="infoGroup">
                            <label for="Education{{ loop.index }}" class="custom-label" style="vertical-align: middle;">Education {{ loop.index }}:</label>
                            <input class="infoText" id="Education{{ loop.index }}" style="vertical-align: middle;" value = "{{ education.name }}" placeholder="Institution"></input>
                            <input class="infoText" id="Education{{ loop.index }}" style="vertical-align: middle;" value = "{{ education.gpa }}" placeholder="GPA"></input>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
                <div class = "info">
                    <a href="#" class="custom-button">Skills</a>
                    <div class = "contactGroup">
                        
                        <textarea class="infoText" id = "skills">{{ skills_text }}</textarea>
                       
                    </div>
                    
                </div>
                <div class = "info">
                    <a href="#" class="custom-button">Experience</a>
                    <textarea class="infoText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
                
                </div>
                
            </div>
            
        </div>
        
            
        
    </div>
    

<script src="{{ url_for('static', filename='script.js') }}"></script>   
</body>
</html>
